<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>
   <% if user.microposts.any? %>
  <p><%= user.microposts.first&.content %></p>
  <% else %>
    <p>Nenhum micropost ainda</p>
  <% end %>
</div>
